<div class="container">

    <div class='bg-light'>

        <!--Top Navigation-->
        <%- include('partials/navbar') %>

        <!-- Main Page Content-->
        <div class="main container-fluid">

            <div class='row'>

                <div class='col-lg-3 col-sm-1' style="position:fixed">
                    <br><br><br><br><br><br>
                    <div class='d-flex justify-content-center'>
                        <div class="card" style="width: 26rem;">

                            <h4 class="card-title">
                                &nbsp;Suggested Followers
                            </h4>

                            <div class="row card-body">

                                <div class='col-lg-8 col-md-5'>
                                    &nbsp;
                                    <img src="images/SocNet.PNG" alt="socnet" width="30" height="30">
                                    SocNet
                                </div>
                                <div class='col-lg-4 col-md-3'>
                                    <button type='button' class='btn btn-outline-secondary'>Follow</button>
                                </div>
                                <br>

                                <div class='col-lg-8'>
                                    &nbsp;
                                    <img src="images/logan.PNG" alt="logan" width="30" height="30">
                                    Logan Vin
                                </div>
                                <div class='col-lg-4'>
                                    <button type='button' class='btn btn-outline-secondary'>Follow</button>
                                </div>
                                <br>

                                <div class='col-lg-8'>
                                    &nbsp;
                                    <img src="images/profPic.png" alt="zach" width="30" height="30">
                                    Zach Barnes
                                </div>
                                <div class='col-lg-4'>
                                    <button type='button' class='btn btn-outline-secondary'>Follow</button>
                                </div>
                                <br>

                                <div class='col-lg-8'>
                                    &nbsp;
                                    <img src="images/austin.PNG" alt="austin" width="30" height="30">
                                    Austin C.
                                </div>
                                <div class='col-lg-4'>
                                    <button type='button' class='btn btn-outline-secondary'>Follow</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fixed makes it so that the next column goes where it was so this is to place hold so the posts column can be scrollable-->
                <div class='col-lg-3'>
                </div>
                <div class='col-lg-6'>

                    <div class='posts '>

                        <div class='d-flex justify-content-center'>
                            <div class="card post" style="width: 30rem;">
                                <div class='user-that-posted'>

                                    <h4 class="card-title">
                                        <span>&nbsp;
                                            <img src="images/SocNet.PNG" alt="socnet" width="30" height="30">
                                        </span>SocNet
                                    </h4>
                                </div>

                                <div class="card-body">
                                    <p class="card-text">Hello and welcome to SocNet, the social networking website! We
                                        hope
                                        you find many others to connect with during your stay.</p>
                                    <img class="card-img-top" src="images/soc.jpg" alt="SocNet">
                                    <div class='btn-group' role='group'>
                                        <button type="button" class="btn btn-default">Like</button>
                                        <button type="button" class="btn btn-default">Comment</button>
                                        <button type="button" class="btn btn-default">More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class='d-flex justify-content-center'>

                            <div class="card post" style="width: 30rem;">
                                <div class='user-that-posted'>

                                    <h4 class="card-title">
                                        <span>&nbsp;
                                            <img src="images/logan.PNG" alt=logan"" width="30" height="30">
                                        </span>Logan Vin
                                    </h4>
                                </div>

                                <div class="card-body">
                                    <p class="card-text">Went skipping with my family today!</p>
                                    <img class="card-img-top" src="images/family.PNG" alt="family">
                                    <div class='btn-group' role='group'>
                                        <button type="button" class="btn btn-default">Like</button>
                                        <button type="button" class="btn btn-default">Comment</button>
                                        <button type="button" class="btn btn-default">More</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class='d-flex justify-content-center'>

                            <div class="card post" style="width: 30rem;">
                                <div class='user-that-posted'>

                                    <h4 class="card-title">
                                        <span>&nbsp;
                                            <img src="images/profPic.png" alt="zach" width="30" height="30">
                                        </span>Zach Barnes
                                    </h4>
                                </div>

                                <div class="card-body">
                                    <p class="card-text">Just want to thank everyone for the support, much appreciated.
                                    </p>
                                    <div class='btn-group' role='group'>
                                        <button type="button" class="btn btn-default">Like</button>
                                        <button type="button" class="btn btn-default">Comment</button>
                                        <button type="button" class="btn btn-default">More</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class='d-flex justify-content-center'>

                            <div class="card post" style="width: 30rem;">
                                <div class='user-that-posted'>

                                    <h4 class="card-title">
                                        <span>&nbsp;
                                            <img src="images/austin.PNG" alt="austin" width="30" height="30">
                                        </span>Austin C.
                                    </h4>
                                </div>

                                <div class="card-body">
                                    <p class="card-text">Work was crazy today, people kept falling! They just don't know
                                        how
                                        to
                                        read signs!!</p>
                                    <img class="card-img-top" src="images/falling.jpg" alt="family">
                                    <div class='btn-group' role='group'>
                                        <button type="button" class="btn btn-default">Like</button>
                                        <button type="button" class="btn btn-default">Comment</button>
                                        <button type="button" class="btn btn-default">More</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

                <div class='col-lg-3 col-md-2 col-sm-1'>
                    Ads:
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="images/ad1.jpg" alt="ad1">
                        <div class="card-body">
                            <p class="card-text">Looking for cheap affordable cars?</p>
                        </div>
                    </div>
                    <br>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="images/pills.jpg" alt="ad2">
                        <div class="card-body">
                            <p class="card-text">Back hurt? Try our magic pills!</p>
                        </div>
                    </div>
                    <br>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="images/sponge.PNG" alt="ad3">
                        <div class="card-body">
                            <p class="card-text">Get your kids the toys they deserve! Introducing army spongebob</p>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>